﻿@model EnjoyDigitalUniversity.ViewModels.CourseViewModel
<div class="row clearfix">
  <div class="col-md-12 column">
    <div>
      <h1>Computer Science</h1>
      <h2>Computing</h2>
      <p></p>
    </div>   
  </div>
</div>


